
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  max-inline-size: 1440px;
  margin: 0 auto;
  min-inline-size: 375px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

picture {
  padding: 0;
  margin: 0;
}

button,
a {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: currentColor;
}
